[buildout]
parts =  
    instance
    plonesite
    zopepy
    i18ndude
    paster
    zopeskel
    test

extends = 
    http://dist.plone.org/release/4.2-latest/versions.cfg
    versions.cfg
	
find-links =
    http://dist.plone.org/release/4.2-latest
    http://dist.plone.org/thirdparty

extensions = 
    mr.developer
    buildout.dumppickedversions

sources = sources
	
versions = versions

develop =

[sources]
collective.developermanual = svn http://svn.plone.org/svn/collective/collective.developermanual

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
debug-mode = off
verbose-security = off
blob-storage = var/blobstorage

eggs =
    Pillow
    Plone

zcml =

[plonesite]
recipe = collective.recipe.plonesite
site-id = plone
profiles-initial =
    Products.CMFPlone:plone-content

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[i18ndude]
unzip = true
recipe = zc.recipe.egg
eggs = i18ndude

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    ${instance:eggs}

[paster]
recipe = zc.recipe.egg
eggs =
   ZopeSkel
   PasteScript
   PasteDeploy
   zopeskel.dexterity
   ${instance:eggs}
entry-points = paster=paste.script.command:run

[zopeskel]
unzip = true
recipe = zc.recipe.egg
eggs =
    ZopeSkel
    ${instance:eggs}

[versions]
zc.buildout = 1.6.3

